* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  background: rgb(148,187,233);
  background: radial-gradient(circle, rgba(148,187,233,1) 0%, rgba(13,26,85,1) 72%);
}

